<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style.css}"> 
<head>
    <meta charset="UTF-8">
    <title>D&D 5e - Lista de Personagens</title>
</head>
<body>
    <main class="menu-container">
        <header class="menu-header">
            <h1>Personagens de D&D 5e</h1>
            <p>Aqui você verá sua lista de personagens de D&D.</p>

            <a href="/" style="color: white; margin-top: 20px; display: inline-block;">Voltar ao Menu</a>
            <a href="/dnd5e/addPersonagem" style="color: white; margin-top: 20px; display: inline-block;">Criar Personagem</a>
        </header>
        
        </main>
</body>
</html>