<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style.css}"> 
<head>
    <meta charset="UTF-8">
    <title>Era do Pesadelo Menu</title>
</head>
<body>
    <main class="menu-container">
        <header class="menu-header">
            <h1>Personagens de Era do Pesadelo</h1>
            <p>Aqui você verá sua lista de personagens de EDP.</p>
            
            <a href="/" style="color: white; margin-top: 20px; display: inline-block;">Voltar ao Menu</a>
            <a href="/criarPersonagemEDP" style="color: white; margin-top: 20px; display: inline-block;">Criar Personagem</a>
        </header>
    </main>
</body>
</html>